@font-face {
  /* font-family: "futura";
  src: url(../font/futura-bold.otf); */
  font-family: "raleway";
  src: url(../font/raleway-black.ttf);
  /* font-family: "raleway_regular";
  src: url(../font/raleway-regular.ttf); */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: #000000;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(../images/contact/contact.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  isolation: isolate;
}

body::after {
  content: '';
  position: absolute;
  background: white;
  z-index: -1;
  inset: 0;
  opacity: 0.4;
}

nav.navi {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 40px;
}

div.navi2 {
  max-width: 1787px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1.logo {
  width: 160px;
  height: 100px;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 100px;
}

img.logo_image {
  width: 160px;
  height: 110px;
  object-fit: contain;
}

ul.menu_list {
  width: 800px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 30px;
  font-family: "raleway";
  font-weight: bold;
  gap: 42px;
  text-shadow: 4px 5px 4px #eeff86;
}

.projects_list {
  width: 128px;
  height: 186px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 846px;
  top: 110px;
  gap: 40px;
  /* transform: translateY(0); */
  visibility: hidden;
  transition: all 1s;
  z-index: -100;
  opacity: 0;
}

.menu_2:hover .projects_list {
  visibility: visible;
  /* transform: translateY(0); */
  opacity: 1;
}

.menu_btn_1:hover {
  color: #ffffff;
  -webkit-text-stroke: 2px #0000ff;
}

.menu_btn_2:hover {
  color: #ffffff;
  -webkit-text-stroke: 2px #0000ff;
}

.menu_btn_3:hover {
  color: #ffffff;
  -webkit-text-stroke: 2px #0000ff;
}

.menu_btn_4 {
  color: #0000ff;
}

.menu_btn_4:hover {
  color: #ffffff;
  -webkit-text-stroke: 2px #0000ff;
}

li.menu_3 {
  width: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

li.menu_4 {
  width: 117px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects {
  font-family: "raleway";
  font-size: 30px;
  font-weight: 900;
}

.sub_menu:hover {
  color: #ffffff;
  -webkit-text-stroke: 2px #0000ff;
}

p.time {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: "raleway";
  font-weight: bold;
  position: absolute;
  right: 33px;
  text-shadow: 4px 5px 4px #eeff86;
}

span.line {
  width: 117px;
  height: 10px;
  display: block;
  display: flex;
  position: absolute;
  background-color: #0000ff;
  border-radius: 3px;
  top: 70px;
  left: 1161px;
  z-index: -100;
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inquiry {
  width: 405px;
  height: 719px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  /* border: solid 2px #000000; */
}

.inquiry>p {
  font-family: "raleway";
  font-size: 30px;
  font-weight: bold;
}

.input-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "raleway";
  font-weight: bold;
  font-size: 20px;
}

form.email {
  resize: none;
  transition: all 0.5s ease-in-out;
}

form.email:hover {
  scale: 1.1;
}

div.fullname {
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

form.lastname {
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  transition: all 0.5s ease-in-out;
}

form.lastname:hover {
  scale: 1.1;
}

form.firstname {
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  transition: all 0.5s ease-in-out;
}

form.firstname:hover {
  scale: 1.1;
}

form.phone {
  resize: none;
  transition: all 0.5s ease-in-out;
}

form.phone:hover {
  scale: 1.1;
}

input.email {
  width: 400px;
  height: 40px;
}

input.fullname {
  width: 180px;
  height: 40px;
}

input.phone {
  width: 400px;
  height: 40px;
}

textarea {
  width: 400px;
  height: 225px;
  border: solid 2px #000000;
  border-radius: 5px;
  box-shadow: 2px 2px 0 2px #000000;
  background-color: #eeff86;
  padding: 10px;
  font-family: "raleway";
  font-size: 20px;
  font-weight: 900;
  color: #000000;
  resize: none;
  transition: all 0.5s ease-in-out;
}

form.message {
  transition: all 0.5s ease-in-out;
}

form.message:hover {
  scale: 1.1;
}

textarea::placeholder {
  font-family: "raleway";
  font-size: 15px;
  font-weight: bold;
  color: #000000;
}

input::placeholder {
  font-family: "raleway";
  font-size: 15px;
  font-weight: bold;
  color: #000000;
}

#text {
  background-color: #eeff86;
  border: solid 2px #000000;
  border-radius: 5px;
  box-shadow: 2px 2px 0 2px #000000;
  padding: 10px;
}

button.submit {
  width: 200px;
  height: 50px;
  border: solid 2px #000000;
  box-shadow: 2px 2px 0 2px #000000;
  border-radius: 10px;
  background-color: #eeff86;
  font-family: "raleway";
  font-size: 20px;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}

button.submit:hover {
  scale: 1.2;
}

footer {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.copyright {
  width: 104px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  position: absolute;
  left: 50px;
}

.copyright_image {
  width: 10px;
  height: 10px;
}

.copyright_copyright {
  font-family: "raleway";
  font-size: 10px;
  font-weight: bold;
}

.newletter {
  font-family: "raleway";
  font-size: 15px;
  font-weight: 900;
}

.mail {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

button.subscribe_btn {
  width: 105px;
  height: 40px;
  color: #ffffff;
  background-color: #000000;
  border: none;
  border-radius: 5px;
  font-family: "raleway";
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  padding: 12px;
  position: absolute;
  right: 600px;
  bottom: 15px;
}

.subscribe {
  color: #ffffff;
}

input.yourmail {
  width: 415px;
  height: 40px;
  border: none;
  background-color: #d9d9d9;
  border-radius: 5px;
  font-family: "raleway";
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
}

.sns_icon {
  width: 90px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: absolute;
  right: 52px;
}

.sns_icon_list {
  width: 30px;
  height: 30px;
  overflow: hidden;
}

.instagram_icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.x_icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media all and (max-width: 768px) {}

@media all and (min-width:768px) and (max-width:1024px) {}

@media all and (min-width: 1025px) {}