@font-face {
  /* font-family: "futura";
  src: url(/font/futura-bold.otf); */
  font-family: "raleway";
  src: url(../font/raleway-black.ttf);
  /* font-family: "raleway_regular";
  src: url(../font/raleway-regular.ttf); */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: #000000;
  text-decoration: none;
}

nav.navi {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 40px;
}

div.navi2 {
  max-width: 1787px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1.logo {
  width: 160px;
  height: 100px;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 100px;
}

img.logo_image {
  width: 160px;
  height: 110px;
  object-fit: contain;
}

ul.menu_list {
  width: 800px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 30px;
  font-family: "raleway";
  font-weight: bold;
  gap: 42px;
  text-shadow: 4px 5px 4px #eeff86;
}

ul.projects_list {
  width: 128px;
  height: 186px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 846px;
  top: 118px;
  gap: 40px;
  /* transform: translateY(-100%); */
  visibility: hidden;
  transition: all 1s;
  opacity: 0;
  z-index: -100;
}

.menu_2:hover .projects_list {
  visibility: visible;
  /* transform: translateY(0); */
  opacity: 1;
}

.menu_btn_1 {
  color: #0000ff;
}

.menu_btn_1:hover {
  color: #ffffff;
  -webkit-text-stroke: 2px #0000ff;
}

.menu_btn_2:hover {
  color: #ffffff;
  -webkit-text-stroke: 2px #0000ff;
}

.menu_btn_3:hover {
  color: #ffffff;
  -webkit-text-stroke: 2px #0000ff;
}

.menu_btn_4:hover {
  color: #ffffff;
  -webkit-text-stroke: 2px #0000ff;
}

li.menu_3 {
  width: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
}

li.menu_4 {
  width: 117px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects {
  font-family: "raleway";
  font-size: 30px;
}

.sub_menu:hover {
  color: #ffffff;
  -webkit-text-stroke: 2px #0000ff;
}

p.time {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: "raleway";
  font-weight: bold;
  position: absolute;
  right: 33px;
  text-shadow: 4px 5px 4px #eeff86;
}

span.line {
  width: 158px;
  height: 10px;
  display: block;
  display: flex;
  position: absolute;
  background-color: #0000ff;
  border-radius: 3px;
  top: 70px;
  left: 643px;
  z-index: -100;
  /* visibility: hidden; */
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.info {
  width: 1440px;
  height: 630px;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 200px;
  z-index: -100;
}

figure.info_info {
  width: 500px;
  height: 630px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 5px 0 3px #000000;
}

img.info_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.write {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.info_write {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
}

.title {
  font-family: "raleway";
  font-weight: bold;
  font-size: 30px;
}

.line_line {
  width: 146px;
  height: 5px;
  background-color: #000000;
}

.sub_title {
  font-family: "raleway";
  font-weight: bold;
  font-size: 20px;
}

.award {
  width: 50ch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
}

footer {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.copyright {
  width: 104px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  position: absolute;
  left: 50px;
}

img.copyright_image {
  width: 10px;
  height: 10px;
  object-fit: cover;
}

.copyright_copyright {
  font-family: "raleway";
  font-size: 10px;
  font-weight: 900;
}

.newletter {
  font-family: "raleway";
  font-size: 15px;
  font-weight: 900;
}

.mail {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

input::placeholder {
  font-family: "raleway";
  font-size: 15px;
  font-weight: bold;
  color: #000000;
}

span.subscribe_btn {
  width: 105px;
  height: 40px;
  color: #ffffff;
  background-color: #000000;
  border-radius: 5px;
  font-family: "raleway";
  font-weight: 900;
  font-size: 13px;
  text-align: center;
  padding: 12px;
  position: absolute;
  right: 600px;
  bottom: 15px;
}

.subscribe {
  color: #ffffff;
}

input {
  width: 415px;
  height: 40px;
  border: none;
  background-color: #d9d9d9;
  border-radius: 5px;
  font-family: "raleway";
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
}

.sns_icon {
  width: 90px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: absolute;
  right: 52px;
}

.sns_icon_list {
  width: 30px;
  height: 30px;
  overflow: hidden;
}

.instagram_icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.x_icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}