@font-face {
  /* font-family: "futura";
  src: url(../font/futura-bold.woff); */
  font-family: "raleway";
  src: url(../font/raleway-black.woff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  background-image: url(../images/main/showroom.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav.navi {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 40px;
}

div.navi2 {
  max-width: 1787px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1.logo {
  width: 160px;
  height: 100px;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 100px;
}

img.logo_image {
  width: 160px;
  height: 110px;
  object-fit: contain;
}

ul.menu_list {
  width: 800px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 30px;
  /* font-family: 'Bungee Spice', sans-serif; */
  font-family: "raleway";
  font-weight: bold;
  gap: 42px;
  text-shadow: 4px 5px 4px rgba(0, 0, 0, 0.5);
}

.projects_list {
  width: 128px;
  height: 186px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 846px;
  top: 110px;
  gap: 40px;
  /* transform: translateY(0); */
  visibility: hidden;
  transition: all 1s;
  z-index: -100;
  opacity: 0;
}

.menu_2:hover .projects_list {
  visibility: visible;
  /* transform: translateY(0); */
  opacity: 1;
}

.menu_btn_1:hover {
  color: #eeff86;
}

.menu_btn_2:hover {
  color: #eeff86;
}

.menu_btn_3:hover {
  color: #eeff86;
}

.menu_btn_4:hover {
  color: #eeff86;
}

li.menu_3 {
  width: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
}

li.menu_4 {
  width: 117px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects {
  font-family: "raleway";
  font-size: 30px;
  font-weight: 900;
}

.sub_menu:hover {
  color: #eeff86;
  -webkit-text-stroke: 2px #000000;
}

p.time {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: "raleway";
  font-weight: 900;
  position: absolute;
  right: 33px;
  text-shadow: 4px 5px 4px rgba(0, 0, 0, 0.5);
}